language: c
addons:
  apt:
    sources:
      - git-core
sudo: false # only for faster builds
script:
  - clang -coverage -O0 dht11.c -o hello
  - ./hello
  - gcov hello.c

after_success:
  - bash <(curl -s https://codecov.io/bash)
